@font-face {
  src: url("../fonts/Pangolin-Regular.ttf");
  font-family: fuente;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  --main-text-color: black;
  --secondary-text-color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-text-color);
  z-index: 1;
  border-bottom: solid;
  border-bottom-color: var(--main-text-color);
}
.navbar > .navbar__list {
  float: right;
  list-style-type: none;
  margin: 0;
  font-size: 0;
}
.navbar > .navbar__list > .navbar__link {
  display: inline-block;
  font-size: 1rem;
  font-family: fuente;
}
.navbar > .navbar__list > .navbar__link a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: var(--main-text-color);
  transition: all 0.5s linear;
}
.navbar > .navbar__list > .navbar__link-active a {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  border-top-right-radius: 50%;
}
.navbar > .navbar__list > .navbar__link a:hover {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  border-top-right-radius: 50%;
}
.header > .header__title {
  position: absolute;
  color: var(--secondary-text-color);
  font-family: fuente;
  font-size: 8rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > .header__title {
  position: absolute;
  color: var(--secondary-text-color);
  font-family: fuente;
  font-size: 8rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: fadeInLeft 1s forwards;
  animation-delay: 0.8s;
}
.header > .header__image {
  background-image: url(../images/img_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.header > .header__cite {
  font-family: fuente;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
section:nth-child(odd) {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;
}
section:nth-child(even) {
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;
}
section {
  margin-left: 30px;

  margin-top: 0;
}
.div__container {
  height: 100vh;
}
h2 {
  width: 100%;
  font-size: 4.5em;
  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  font-family: fuente;
}

.section__container__title {
  max-width: 100%;
  top: 0;
}
#section__introduccion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
}
.section__introduccion__esquema {
  max-width: 300px;
  height: 300px;
  flex: 1;
}
.section__introduccion__esquema__centro {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 3rem;
  font-family: fuente;
  text-align: center;
}
.section__introduccion__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid white;
}
.section__introduccion__esquema__bis {
  height: 150px;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.linea {
  width: 150px;
  border: solid white;
}
.section__quien-soy__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: cover;
}
.section__quien-soy__img {
  max-width: 600px;
  max-height: 100%;
  margin-left: 3rem;
  margin-bottom: 3rem;
  border-radius: 15px;
}
.section__quien-soy__secciones__texto {
  padding: 0 5rem;
}
p {
  font-family: fuente;
  font-size: 1.2rem;
}
.section__sobreMi_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__javier {
  max-width: 100vh;
}
.section__sobreMi__cite {
  max-width: 100%;
  text-align: center;
  padding: 5% 10%;
}
#comillas::first-letter {
  color: rgb(61, 55, 55);
  font-size: 4rem;
}
.container__contacto {
  padding-top: 30px;
}
.footer1 {
  display: flex;
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  height: 50px;
  align-items: center;
  justify-content: center;
}
.footer2 {
  display: flex;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
  height: 50px;
  align-items: center;
  justify-content: center;
}
.section__estudios__descripcion {
  padding: 0 3rem 3rem 3rem;
}
.section__estudios__gif__container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
